@import 'materialize';

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  @extend .blue-grey, .lighten-5;
}

nav, footer {
 @extend .blue-grey, .darken-3; 
}

p, span {
  @extend .light;
}

#linesCanvas {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

#circleCanvas {
  width: 100%;
  height: 100%;
}

#splashContainer {
  position: relative;
}

#circleCanvas, #art1 {
  padding: 0.07em;
  @extend .blue-grey;
}

.divider {
  @extend .blue-grey;
}
